main {
	.flex-block {
		&.single {
			.under_title {
				.flex-block {
					flex-wrap: wrap;
					height: unset;
					.left {
						width: 100%;
					}
					.right {
						width: 100%;
						height: unset;
						.image {
							img {
								height: unset;
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
	.flex-block {
		&.collection {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
